.block {
  transform: scale(0.9);
  border-radius: 0.5rem;
  background-position: center;
  background-size: cover;
  transition: ease-in-out 0.5s;
  position: absolute;
}
@keyframes blink {
  0%,
  40%,
  80% {
    opacity: 0.5;
  }
  20%,
  60%,
  100% {
    opacity: 1;
  }
}
