.bullet {
  position: absolute;
  width: var(--cell);
  height: var(--cell);
  align-self: center;
  transform: translateX(-100%) scale(0.9);
  background: center / cover url("/src/assets/images/covid.png");
  // transition: linear 0.5s;
  right: 0;
  border-radius: 0.5rem;
}
