#weapon {
  position: absolute;
  transition: ease-out 0.3s;
  display: flex;
  border-radius: 0.5rem;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: calc(100% / 3);
    border-radius: 0.5rem 0 0 0.5rem;
    background-color: inherit;
    left: 0;
    top: 0;
    transform: translate(-100%, 100%);
  }
}
