#weapon {
  background-color: #fff;
  position: absolute;
  transition: ease-out 0.3s;
  display: flex;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    width: 200%;
    height: calc(100% / 3);
    background-color: inherit;
    left: 0;
    top: 0;
    transform: translate(-50%, 100%);
  }
}
